#flexy {
  border: 5px solid black;
  border-radius: 25px;
  width: 100%;
  overflow: hidden;
}
.box-1 {
  flex: 50%;
  height: 390px;
  border-right: 5px solid black;
  background-color: green;
}
.box-2 {
  flex: 15%;
  background-color: skyblue;
}
.box-3 {
  flex: 35%;
}
.box-3 > div {
  width: 100%;
  height: calc(100% / 3);
}
